<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="intervaloExecucaoClientes" value="600000" />
    <add key="intervaloExecucaoEstoque" value="900000" />
    <add key="intervaloExecucaoPedido" value="900000" />
    <add key="intervaloExecucaoRetNF" value="3600000" />
    <add key="intervaloExecucaoCancelPedido" value="900000" />
    <add key="intervaloExecucaoCodRastreio" value="60000" />
    <add key="horaExecucaoEnvioCodRastreamento" value="20:12" />
    <add key="jobIntegracaoClientes" value="true" />
    <add key="jobIntegracaoEstoque" value="false" />
    <add key="jobIntegracaoPedido" value="true" />
    <add key="jobIntegracaoRetornoNF" value="true" />
    <add key="jobIntegracaoCancelPedido" value="false" />
    <add key="jobRetornoCodigoRastreio" value="true" />
    <add key="pathLogCliente" value="C:\\ServicoVTEX\\Log\\Log_Cliente.txt" />
    <add key="pathLogEstoque" value="C:\\ServicoVTEX\\Log\\Log_Estoque.txt" />
    <add key="pathLogPedido" value="C:\\ServicoVTEX\\Log\\Log_Pedido.txt" />
    <add key="pathLogCodRetRastreio" value="C:\\ServicoVTEX\\Log\\Log_CodRetRastreio.txt" />
    <add key="pathLogRetornoNF" value="C:\\ServicoVTEX\\Log\\Log_RetornoNF.txt" />
    <!-- Dados de acesso a API -->
    <add key="accountName" value="WahlClipper" />
    <add key="environment" value="vtexcommercestable" />
    <add key="appKey" value="vtexappkey-wahlclipper-FGFWDT" />
    <add key="appToken" value="GCVXQJVLGUVLMJUJNIGPYLBOVJOSOKLPJBWCIEALAXNUWIGGYRPEZJIDJWFSWEFPRMPSGAJEBDCDYWQNYUOZTIZVZOSCLAEEKATMDFMUHYRGXLHPWKAELWUYFDWDETFQ" />
    <add key="warehouseId" value="1_1" />
    <add key="maxLot" value="10" />
    <!-- Parâmetros do SAP -->
    <add key="Server" value="10.0.0.11" />
    <add key="DataBase" value="WahlClipper" />
    <add key="DbUser" value="SAP" />
    <add key="DbPassword" value="W4HL@2020*8" />
    <add key="SapUser" value="manager" />
    <add key="SapPassword" value="Ramo02" />
    <!--
      6: SQLServer 2008
      7: SQLServer 2012
      8: SQLServer 2014
    -->
    <add key="SqlServerType" value="6" />
    <!-- Tempo em milessegundos-->
    <add key="Intervalo" value="900000" />
    <!-- Dados de acesso a API -->
    <add key="UserName" value="wahlbrasil_admproduto" />
    <add key="Password" value="admprowahl2@18" />
    <add key="StoreId" value="1000199" />
    <add key="UrlCliente" value="http://adm-cliente-neo1.plataformaneo.com.br" />
    <add key="UrlPedido" value="http://adm-pedido-neo1.plataformaneo.com.br" />
    <add key="UrlProduto" value="http://adm-produto-neo1.plataformaneo.com.br" />
    <add key="IntegrationKey" value="1000199389" />
    <add key="EdApiAut" value="/api/v1/auth" />
    <add key="EdRetCliente" value="/api/v1/adm_customer/GetQueue" />
    <add key="EdRetPed" value="/api/v1/adm_order/GetQueue" />
    <add key="EdRemovePed" value="/api/v1/adm_order/DeleteQueue" />
    <add key="EdRemoveCliente" value="/api/v1/adm_customer/DeleteQueue" />
    <add key="EdAtualizaStatusPedido" value="/api/v1/adm_orderstatus/SetOrderStatus" />
    <add key="EdAtualizaStock" value="/api/v1/adm_stocks" />
    <add key="Empresa" value="3" />
    <add key="Usage" value="57" />
    <add key="Carrier" value="F00730" />
    <add key="GroupNum" value="-2" />
    <add key="ExpnsCode" value="3" />
    <add key="ExpnsTax" value="" />
    <add key="PriceList" value="70" />
    <add key="SlpCode" value="74" />
    <add key="QoP" value="1" />
    <add key="PackDesc" value="Caixa" />
    <add key="GroupCode" value="111" />
    <add key="WhsCode" value="0008-11" />
    <add key="Comments" value="Loja Virtual" />
    <add key="Plataforma" value="VT" />
    <add key="IndicadorIE" value="9" />
    <add key="IndicadorOpConsumidor" value="1" />
    <add key="Gerente" value="5" />
    <add key="CardCodePrefix" value="E" />
    <add key="CategoriaCliente" value="5" />
    <add key="PickRemark" value="PAC" />
    <!--Cancelamento Pedido Boleto-->
    <add key="qtdDiasCancelemtno" value="4" />
    <!--Configuração de e-mail-->
    <add key="host" value="email-ssl.com.br" />
    <add key="credencialMail" value="naoresponda@wahlclipper.com.br" />
    <add key="credencialSenha" value="W4HL@2017&amp;" />
    <add key="EnableSsl" value="true" />
    <!--Configuração de e-mail-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>